@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.app-container {
  @include flex-center(column, center);
  padding: 20px;
  @include responsive-width(600px);
  transition: background-color 0.3s ease, color 0.3s ease;

  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    @include flex-center(row, space-around);
    flex-wrap: wrap;
  }

  @media (min-width: $breakpoint-sm) {
    @include flex-center(row, space-around);
  }
}
